/* reduce padding in member list */
[class*=scrollerBase][class*=members] [class*=memberInner] {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 36px;
}

/* bigger jumboable emoji in compact */
[class*=compact] [class*=messageContent] img.emoji.jumboable {
    width: 32px;
    height: 32px;
}

/* Decrease reaction padding & border radius */
/* Also something about large reactions */
[class*=reaction], [class*=largeReactionBtn][class*=forceShowLook] {
/*    margin: 0 2px 0 0;*/
    border-radius: 4px;
}
[class*=largeReactionBtn][class*=forceShowLook] {
    /* Aligning this properly is stupid, but here we go */
    padding: 4px 6px 6px 5px;
}
[class*=reactionInner] {
    padding: 3px 5px;
}
[class*=reaction] .emoji[class*=reactionLarge], [class*=largeReactionBtn] {
    width: 1rem;
    height: 1rem;
}
[class*=largeReactions] {
    padding: 0;
}

/* adjust avatar size for who-reacted */
[class*=reactionInner] {
    [class*=size24] {
        :not(svg *) {
            height: 18px;
            width: 18px;
        }

        svg {
            margin-right: -5px;
        }
    }

    & > div:not([class]):last-child {
        /* the original `scale(0.9)` messes with size calculation and there is no class on this element */
        transform: none !important;
    }
}

/* add `@` to "new" usernames */
:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '@';
}

/* --------------------------------------- */

/* https://github.com/abbie/discord-css/ */
@import url('https://abbie.github.io/discord-css/import.css');

:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: true;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: true;
    --\\--compact-channel-categories: true;
    --\\--compact-server-list: true;

    --\\--hide-nameplates: true;
    --\\--hide-guild-tags: true;
    --\\--hide-profile-effects: true;
    --\\--hide-avatar-decorations: true;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: false;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: true;
    --\\--hide-sticker-button: true;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: true;
    --\\--hide-shop-button: true;
    --\\--hide-nitro-button: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: false;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;
}
