/* reduce padding in member list */
[class*="scrollerBase_"][class*="members_"] [class*="memberInner_"] {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 36px;
}

/* hide stupid premium buttons */
[class*="channelTextArea_"] [class*="buttons_"] button:not([aria-label="Select emoji"]),
[class*="colorPremiumGradient_"],
[aria-label="Add Super Reaction"] {
    display: none;
}

/* hide premium emoji completions */
[class*=premiumSectionDivider_],
[class*=premiumHeader_],
[class*=premiumEmoji_] {
    display: none;
}

/* hide Nitro & Shop & Birthday Buttons on DM */
[class*="privateChannels_"] [href="/store"],
[class*="privateChannels_"] [href="/shop"],
[class*="privateChannels_"] [href="/activities"] {
    display: none;
}

/* bigger jumboable emoji in compact */
[class*="compact_"] [class*=messageContent] img.emoji.jumboable {
    width: 32px;
    height: 32px;
}

/* decrease reaction padding & border radius */
[class*="reaction_"] {
    margin: 0;
    border-radius: 4px;
}

[class*="reactionInner_"] {
    padding: 2px 4px;
}

/* adjust avatar size for who-reacted */
[class*=reactionInner_] {
    [class*=size24_] {
        :not(svg *) {
            height: 18px;
            width: 18px;
        }

        svg {
            margin-right: -5px;
        }
    }

    & > div:not([class]):last-child {
        /* the original `scale(0.9)` messes with size calculation and there is no class on this element */
        transform: none !important;
    }
}

/* add `@` to new usernames */
:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '@';
}

/* hide avatar decorations */
[class^=avatarDecoration_] {
  display: none;
}
svg[class^=bannerSVGWrapper_] > mask > image {
  display: none;
}
svg[class*=avatarDecorationHint_] {
  top: 0;
  left: 0;
}
svg[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
