/* Don't embold greentext on hover (why in the fuck?) */
[class*=container-] .green-text:hover {
    font-weight: normal !important;
}

/* reduce padding in member list */
[class*="scroller-"][class*="members-"] [class*="member-"] {
    padding: 1px 0 !important;
}
[class*="members-"] [class*="member-"] > [class=*="layout-"] {
    height: 39px;
}

/* hide stupid buttons */
[class*="channelTextArea-"] [class*="buttons-"] button:not([aria-label="Select emoji"]) {
    display:none;
}

/* bigger jumboable emoji in compact */
[class*="compact-"] [class*=messageContent] img.emoji.jumboable {
    max-width: 32px;
    max-height: 32px;
    min-height: 1em;
    width: auto;
    height: auto;
}

/* Nox theme adjustments */
/* https://github.com/rauenzi/Nox */

:root {
    --nox-level1: hsl(0, 0%, 17%);
}

/* Messages */
[class*=message-][class*=compact-] {
    padding-left: 1rem;
    padding-right: 1rem !important;
}

[class*=message-][class*=mentioned-][class*=compact-] {
    border-left: 2px solid #FAA61A;
}


/* remove main message backgrounds so there aren't random holes */
.message-2qnXI6 {
    background: none;
    margin: 0;
}

/* hide speech bubble nudges */
.message-2qnXI6.groupStart-23k01U::before {
    display: none;
}

/* adjust input box spacing */
.inner-MADQqc {
    min-height: inherit;
    padding: 0.2em 0;
}
