/* Don't embold greentext on hover (why in the fuck?) */
.message-1PNnaP #GreenText:hover {
    font-weight: normal !important;
}

/* prevent follow-up timestamps from being hidden (currently hardcoded for dark mode) */
.theme-dark .timestampVisibleOnHover-276OMc {
    color: hsla(0,0%,100%,.2);
}

/* material theme adjustments */

.usernameWrapper-1S-G5O .username-_4ZSMR:hover {
    border-bottom: 1px solid;
}

.attachButton-1UjEWA {
    width: 50px;
}

.textArea-2Spzkt {
    padding: 16px 0 16px 50px !important;
}

.containerCompact-3V0ioj.container-1YxwTf {
    padding: 0;
    margin: 0 !important;
}

.divider-3gKybi {
    height: 30px;
}
.divider-3gKybi > span {
    background: hsl(0, 0%, 25%) !important;
}
.divider-3gKybi.dividerRed-MKoLlr > span {
    background: hsl(358, 22%, 30%) !important;
}

.channels-Ie2l6A .scrollerWrap-2lJEkd {
    box-shadow: none;
}

.container-1YxwTf {
    background: none;
}

.chat-3bRxxu .messages-3amgkR {
    background: hsl(0, 0%, 17%) !important;
};

.theme-dark .unreadMentionsBar-1VrBNe {
    box-shadow: none;
}

.messagesWrapper-3lZDfY .messages-3amgkR {
    padding-bottom: 1.2rem;
}

[class*="members-"] [class*="member-"] {
    padding: 0 !important;
}
