/* minimal mode fixes */
.bd-minimal .channels-wrap .container-iksrDt {
    height: 70px;
}

.bd-minimal .channels-wrap .container-iksrDt div:nth-of-type(3) {
    flex-direction: column;
}

.bd-minimal .channels-wrap .container-iksrDt div:nth-of-type(3) button,
.bd-minimal .channels-wrap .container-iksrDt div:nth-of-type(3) div:nth-of-type(3) {
    height: 20px
}


/* material theme adjustments */
.message-group.compact.message-group {
    padding: 0;
    border-top: 1px hsla(0, 0%, 50%, .1) solid;
}

.message-group .comment {
    margin-right: 0;
}

.comment .user-name:hover {
    border-bottom: 1px solid;
}

.textArea-20yzAH {
    padding: 16px 0 !important;
}

/* settings for right-aligned nicks */
:root {
    /*--username-width: 7.3rem;*/
    /*--timestamp-width: 2.5rem;*/
}
