set editing-mode emacs
set enable-bracketed-paste on

# termite
"\e[H": beginning-of-line
"\e[F": end-of-line
"\e[A":
"\e[5~": history-search-backward
"\e[6~": history-search-forward

# alacritty
"\e[OH": beginning-of-line
"\e[OF": end-of-line
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# general
"\e[[D": backward-char
"\e[[C": forward-char
"\e[[A": previous-history
"\e[[B": next-history
"\eH": backward-kill-word
"\e[3;5~": kill-word
