[Unit]
Description=Dunst notification daemon

[Service]
ExecStart=/usr/bin/dunst
Type=simple
#Environment=DISPLAY=:0

[Install]
WantedBy=default.target
