[Unit]
Description=Forward notifications for the system user to the current user

[Service]
ExecStart=/usr/bin/systembus-notify
Type=simple

[Install]
WantedBy=default.target
