/*//META{"name":"Nox-tempfixes","description":"Fixes for the Nox theme","author":"Various","version":"2.0.0"}*//**/

/*Coloring fix for new msg bar*/
.unreadPill-2HyYtt { background-color: var(--nox-level1) !important; }
.unreadPillCapStroke-7rkHbg { fill: var(--nox-level1) !important; }
.content-1o0f9g { background: var(--nox-level1) !important; }


/*Color fix for reaction popup */
.wrapper-2aW0bm { background-color: var(--nox-level2) !important; }


/*Message Bar*/
.inner-MADQqc {
    min-height: 50px;
}
form .channelTextArea-rNsIhG {
    border-radius: 0%;
}
.chat-3bRxxu .content-yTz4x3 form {
    left: -15px;
    width: 100%;
}
.fontSize18Padding-2RUesG {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    position: relative;
    top: -10px;
}
.markup-2BOw-j.da-markup.slateTextArea-1Mkdgw.da-slateTextArea.fontSize18Padding-2RUesG {
    position: relative;
    align-content: center;
}
form .textArea-12jD-V {
    padding-top: 15px;
}


/*Temp fix for slowmode and typing indicator */
.chat-3bRxxu form .typing-2GQL18 { width: fit-content; }


/*Temp fix for message edits */
.edited-DL9ECl {
    font-size: 0;
    width: 13px !important;
    height: 13px !important;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTMgMTcuMjVWMjFoMy43NUwxNy44MSA5Ljk0bC0zLjc1LTMuNzVMMyAxNy4yNXpNMjAuNzEgNy4wNGMuMzktLjM5LjM5LTEuMDIgMC0xLjQxbC0yLjM0LTIuMzRjLS4zOS0uMzktMS4wMi0uMzktMS40MSAwbC0xLjgzIDEuODMgMy43NSAzLjc1IDEuODMtMS44M3oiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    background-size: 100%;
    opacity: .3;
    line-height: 23px;
    margin-left: 5px;
}


/*Embed color fix*/
.embedWrapper-lXpS3L, .markup-2BOw-j code {
    background-color: var(--nox-level2);
    border: 1px solid var(--nox-level3) !important;
}
