/*//META{"name":"Nox-tempfixes","description":"Fixes for the Nox theme","author":"Various","version":"1.0.5"}*//**/

.tutorial-3w5I9h /* Inbox Tutorial */ {
    background-color: var(--nox-level2);
}
.children-rWhLdy.da-children > .container-cMG81i.da-container.large-laZJpW > .inner-2P4tQO.da-inner , .theme-dark .bd-addon-list .bd-addon-card /* PluginRepo / ThemeRepo */ {
    background-color: var(--nox-level3);
}
.theme-dark .feature-2w65J5 , .banner-WELp4M /* Nitro stuff */ {
   background-color: var(--nox-level1);
}
.lookInverted-2D7oAl.colorBrand-3pXr91:disabled /* Nitro Subscribe button was a white block on :disabled */ {
   background-color: var(--nox-accent) !important;
}
.accountList-33MS45 , .connection-1fbD7X , .connectionHeader-2MDqhu , .flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1RC2Wb.da-header , .contentColumn-2hrIYH .notDetected-33MY4s, .table-39R0Oe.da-table.invoice-28DmWy.da-invoice /* Connected accounts make uniform-ey*/ {
    background: #292929;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.03) inset;
    border-radius: 3px;
}
.connectionHeader-2MDqhu /* Nicer headers for connected accounts */ {
   border-radius: 3px 3px 0 0;
}
div#message-delete > .label-22pbtT.da-label /* Make "Delete Message" label colored, as it should be*/{
    color: #f04747 !important;
}

/* Emoji Menu Redo */
.wrapper-1-Fsb8.da-wrapper.header-ywPcAE.da-header {
    background: #292929;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.03) inset;
    border-radius: 3px;
    width: calc(100% + 8px);
    margin-bottom: 5px;
    border-radius: 0;
}
.wrapper-1rqM3x .inspector-S2gM3e, .wrapper-1rqM3x .categoryList-2Kzf65 {
background-color: var(--nox-level2);
border-color: var(--nox-level2);
}
.header-8ilj5e.da-header {
    box-shadow: none;
}
/* Emoji Menu Redo */

#status-picker #status-picker-custom-status /* Status popup fix for opacity on text when hovering over selection */ {
    z-index: -1;
}

.searchResultMessage-1fxgXh.da-searchResultMessage.hit-1fVM9e.da-hit {
    background: var(--nox-level2);
    box-shadow: 0 0 10px 6px var(--nox-level3);
    border-radius: 0
}
.searchResult-9tQ1uo:before, .searchResult-9tQ1uo:after {
    background-image: none
}
.searchResult-9tQ1uo.expanded-w_LCGl {
    background: var(--nox-level2)
}
