/*//META{"name":"Right-aligned Nicks","description":"Nicknames are right-aligned","author":"FichteFoll","version":"1.2.4"}*//

/**
 * Nicks are right-aligned in compact layout.
 * Based grid.
 *
 * Requires compact mode for obvious reasons.
 *
 * Nicknames that are too long for the associated space
 * are collapsed with an ellipse.
 * You can adjust the width of the username column
 * with a variable in your user css
 * or yell at the people until they pick a shorter nick.
 */

/* Variables for configuration. You can override these in your user css. */
:root {
    /* ch as unit makes the most sense here,
     * but the column width is determined before the username text size */
    --username-width: 7.1rem;
    --timestamp-width: 3rem;
    --message-gap: 0.4rem;
}

[class*=message-][class*=compact-] {
    padding-left: 1rem; /* reset negative padding */
    margin: 0; /* and margins */
}

/* base grid layout for the main message (first container) */
[class*=message-][class*=compact-] > [class*=contents-] {
    margin-left: 0; /* reset margin (same as padding above) */
    padding-left: 0;
    display: grid;
    grid-template-columns: [header] calc(var(--timestamp-width) + var(--username-width))
                           [content] auto;
}

/* alignment for the rest of the message (embed, reactions) */
[class*=message-][class*=compact-] > [class*=container-]:not(:empty) {
    margin-left: calc(var(--timestamp-width) + var(--username-width)) !important;
    display: inline-block;
}

/* the header (contains timestamp & username) */
[class*=message-][class*=compact-] h2 {
    display: inline-grid;
    grid-template-columns: var(--timestamp-width) var(--username-width);
    text-indent: 0; /* need to reset this */
}

/* timestamp */
[class*=timestampBase-][class*=timestampCompact-] {
    text-align: left;
}

/* bot marker */
[class*=botTagCompact-] {
    /* I'm trying to show this *behind* the name
     * because I can't adjust the name's width */
    opacity: 0.7;
    grid-row-start: 1;
    grid-column-start: 2;
    width: 2em;
    position: initial;
}

/* username */
[class*=message-][class*=compact-] h2 span[class*=headerText-] {
    display: inline-block;
    grid-row-start: 1;
    grid-column-start: 2;
    z-index: 2; /* username popup uses 10; new messages overlay 3 */
    justify-self: end;
    margin-right: var(--message-gap);
    max-width: var(--username-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* add highlight marker to the right as well */
[class*=message-][class*=compact-][class*=mentioned-] {
    border-right: 2px solid #FAA61A;
}

/* show hidden timestamps */
[class*=timestampVisibleOnHover-] {
    opacity: 1;
}

/* Adjust pin and join messages to grid */
[class*=systemMessage-][class*=compact-] > [class*=contents-] {
    display: block;
}
[class*=systemMessage-][class*=compact-] [class*=container-] {
    margin-left: 1rem; /* reset */
}
