# Instance parameter: username
#
# This service serves as a multiplexing broker for the tcpdumped network traffic
# on Genshin's UDP ports.
# Bind this service to the producer service.
# BindsTo and PartOf ensure that this unit is started and stopped together with the producer.
# However, these two only work for the same systemd instance manager
# and the user manager that runs user services is separate.
[Unit]
Description=Smgood's Tcpdump Broker that provides a multi-user socket to connect to at any time.
BindsTo=smgood-tcpdump.service
PartOf=smgood-tcpdump.service
After=smgood-tcpdump.service

StartLimitIntervalSec=10min
StartLimitBurst=10

[Service]
Type=simple
WorkingDirectory=/run/tcpdump
ExecStart=/usr/bin/epochd -in /run/smgood/tcpdump.fifo -S /run/smgood/socket
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
