# Depends on system epochd.service to provide /run/smgood/socket
[Unit]
Description=Package analyzer for Genshin Impact network traffic
After=graphical-session.target

StartLimitIntervalSec=10min
StartLimitBurst=10

[Service]
Type=simple
; ExecStartPre=/usr/bin/sleep 2
ExecStartPre=/usr/bin/sh -c 'until systemctl is-active smgood-epochd.service; do sleep 1; done'
ExecStart=/usr/bin/sh -c 'out="${XDG_DATA_HOME:-$HOME/.local/share}/smgood"; mkdir -p -- "$out" && exec /usr/bin/smgood -S /run/smgood/socket -export-dir "$out"'
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
