# Instance parameter: username
#
# This service serves as a multiplexing broker for the tcpdumped network traffic
# on Genshin's UDP ports.
# Bind this service to the producer service.
# BindsTo and PartOf ensure that this unit is started and stopped together with the producer.
# However, these two only work for the same systemd instance manager
# and the user manager that runs user services is separate.
[Unit]
Description=Smgood's Tcpdump Broker
After=network.target

StartLimitIntervalSec=10min
StartLimitBurst=10

[Service]
Type=simple
WorkingDirectory=/run/smgood
ExecStart=/usr/bin/sh -c '/usr/bin/tcpdump-genshin hk4e | exec /usr/bin/epochd -S /run/smgood/socket'
Restart=on-failure
RestartSec=10s

CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
