[Unit]
Description=Fetch current lutris playtime and dump it to files

[Service]
Type=oneshot
ExecStart=%h/tools/track_lutris_playtime/track_lutris_playtime.py

# To be triggered by a timer
# [Install]
# WantedBy=default.target
