[Unit]
Description=Fetch current lutris playtime and dump it to files

[Service]
ExecStart=/home/fichte/tools/track_lutris_playtime/track_lutris_playtime.py

[Install]
WantedBy=default.target
