# set this as the default handler in ~/.config/mimeapps.list
[Desktop Entry]
Exec=openurl %U
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Name=openurl
NoDisplay=true
Type=Application
