/* reduce padding in member list */
[class*="scrollerBase_"][class*="members_"] [class*="memberInner_"] {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 36px;
}

/* hide stupid buttons */
[class*="channelTextArea_"] [class*="buttons_"] button:not([aria-label="Select emoji"]),
[class*="colorPremiumGradient_"],
[aria-label="Add Super Reaction"] {
    display:none;
}

/* hide Nitro & Shop & Birthday Buttons on DM */
[class*="privateChannels_"] [href="/store"],
[class*="privateChannels_"] [href="/shop"],
[class*="privateChannels_"] [href="/activities"] {
    display: none;
}

/* bigger jumboable emoji in compact */
[class*="compact_"] [class*=messageContent] img.emoji.jumboable {
    width: 32px;
    height: 32px;
}

/* decrease reaction padding & border radius */
[class*="reaction_"] {
    margin-top: 0;
    border-radius: 4px;
}

[class*="reactionInner_"] {
    padding: 2px 4px;
}

/* add `@` to new usernames */
:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '@';
}

/* hide avatar decorations */
[class^=avatarDecoration_] {
  display: none;
}
svg[class^=bannerSVGWrapper_] > mask > image {
  display: none;
}
svg[class*=avatarDecorationHint_] {
  top: 0;
  left: 0;
}
svg[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
