:root     { 
  background-color: -moz-dialog/*#383C4A*//*#2D303C*/;
}

/* Show title of unread tabs with red and italic font */
/*
.tab.unread .label {
  color: red !important;
  font-style: italic !important;
}
*/

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: "🕶";
}

/* Only show close button on hover, and tint red */
.tab:not(:hover):not(.active) .closebox {
  display: none;
}
.tab .closebox:hover {
  color: hsla(0, 70%, 60%);
}

/* Dim unloaded tabs */
.tab.discarded {
  /* opacity: 0.85; */
  color: hsla(0, 0%, 60%);
}

/* Add margin around favicon */
.tab .favicon {
  margin-left: .2em;
  margin-right: .2em;
}

/* Use gtk theme colors */
/* removed with https://github.com/piroor/treestyletab/commit/d3d39e05432f644c6e0ed46e0a6b214f3a9360cb */
:root {
  --tab-surface: var(--browser-bg-base, -moz-dialog);
  --tab-text: var(--browser-fg, -moz-dialogtext);
  --tab-border: var(--browser-bg-more-darker, ThreeDShadow);
  --tab-side-border: var(--browser-bg-darker, ThreeDLightShadow);
  --tab-surface-hover: var(--browser-bg-more-lighter, ThreeDHighlight);
  --tab-dropmarker: var(--browser-fg, -moz-dialogtext);
}